@using NewsAPI;
@using NewsAPI.Models;
@using NewsAPI.Constants;



@{
    ViewData["Title"] = "NewsAPI";
}

<h1 class="text-center">Covid-19 News</h1>
<br />

@{
    var client = new NewsApiClient("API-KEY");
    var articlesResponse = await client.GetEverythingAsync(new EverythingRequest
    {
        Q = "Covid",
        SortBy = SortBys.PublishedAt,
        Language = Languages.EN
    });
}
<table class="table">
    <thead>
@foreach (var article in articlesResponse.Articles)
{
    <tr>
        <td>
            @article.Title
        </td>
        <td>
            @article.Author
        </td>
        <td>
            <a href="@article.Url" class="btn btn-primary">Click For Url</a>
        </td>
    </tr>
}
    </thead>
</table>

